.Modal {
  position: fixed;
  z-index: 500;
  background-color: rgb(75, 110, 6, 0.8);
  width: 250px;
  height: 350px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  margin: auto;
  left: 16%;
  top: 22%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  border-radius: 70px;
  color: yellow;
  font-size: x-large;
  padding: 80px 20px;
}

@media (min-width: 600px) {
  .Modal {
    width: 380px;
    height: 450px;
    left: calc(54% - 250px);
    top: 22%;
  }
}
