.input-forms {
  text-align: center;
  margin-top: -10px;
}

.pic {
  background-position: center;
  display: flex;
  margin: auto;
  text-align: center;
  width: 100px;
  /* margin-top: 20px; */
}

.full-div {
  margin-top: -20px;
}
