.margin-left {
  margin-left: 0;
}

.all-others {
  white-space: nowrap;
  /* margin-left: 15px; */
}

.home-table {
  margin: auto;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.page-columns {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 10px;
}

.outputTable {
  margin: auto;
}
