.app {
  margin: auto;
  font-family: "Rajdhani", sans-serif;
  background-image: url(./Assets/farming.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  min-height: 160vh;
}
