.app {
  margin: auto;
  font-family: "Rajdhani", sans-serif;
  background-image: url(./Assets/Farming.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  min-height: 110vh;
  padding-bottom: 40px;
}
